  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script type = "text/javascript" src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>           
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>


<div class="carousel">
<div class="carousel carousel-slider" id="demo-carousel-auto" data-indicators="true">

    <a class="carousel-item" href="#one!"><img src="{{ url_for('static', filename='images/photo1.jpg') }}"></a>
    <a class="carousel-item" href="#two!"><img src="{{ url_for('static', filename='images/photo2.jpg') }}"></a>
  

 </div>

