<!DOCTYPE html>
<html>
<head>
  <title>Quintemia Página Oficial</title>
  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script type = "text/javascript" src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>           
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

</head>

<header>
  
  {% include "nav.html" %}

</header>

<body bgcolor="FFDC63">

<div class="container section">
  <div class="row">
    <div class="col s12">
      
      {% include "carousel.html" %}


    </div>
  </div>

  <div class="row" align="center">
    <h1>Hola, mi vida, te extraño</h1>

  </div>

</div>

<script>
$(document).ready(function(){
 
 $('.dropdown-trigger').dropdown();
 
 $('#demo-carousel-auto').carousel();
  setInterval(function() {
    $('#demo-carousel-auto').carousel('next');
  }, 3000);
  
    
});
</script>
</body> 


</body>
</html> 