

<body>
  

<ul id="dropdown1" class="dropdown-content">
  <li><a href="/Fotos">Fotos</a></li>
  <li><a href="/Videos">Videos</a></li>
</ul>


<nav class="black">
  <div class="nav-fixed">
      
      <img href="/" style="height: 10%;width: 10%;margin-top:-10px;margin-right: 10px;" class="responsive-img" src="{{ url_for('static', filename='images/logo.png') }}">

      <ul class="right">
        <li><a href="https://www.facebook.com/Quintemia"><img href="/" style="height: 70%;width:70%;margin-top:10px;margin-right: 10px;" class="responsive-img" src="{{ url_for('static', filename='images/fblogowhitetrue.png') }}"></li></a>

        <li><a href="https://www.instagram.com/quintemia_"><img href="/" style="height: 70%;width: 70%;margin-top:10px;margin-right: 10px;" class="responsive-img" src="{{ url_for('static', filename='images/iglogotrue.png') }}"></li></a>
      </ul>
  </div>
</nav>

<script>


</script>


</body>
