{% extends "base-materialize.html" %}
{% block content %}

<nav class="orange accent-3">
  <div class="nav-fixed">
      
      <img href="index" style="height: 10%;width: 10%;margin-top:-10px;margin-right: 10px;" class="responsive-img" src="{{ url_for('static', filename='images/logo.png') }}">

      <ul class="right">

        <li><a href="/contacto"><i class="material-icons left">home</i>Contacto</a></li>
        <li><a href="/info">Información</a></li>
        <li><a href="/media">Media</a></li>
      </ul>
  </div>
</nav>


{% endblock %}